# Twitter API 
    - Rest API - gives results when queried
    - Streaming API - keeps monitoring for a #tag continuously , stores it whenever some uses it

In [22]:
import tweepy
import pandas as pd
import numpy as np
tweepy.__version__

'3.6.0'

In [2]:
api_key = 'QSV92u3PlXAUyzCBUfVwwLccp'
api_secret = 'vxQT5rKUmpycC52eFwitpIh2Ij2hjuw8ZxhnlsbCYhEVv7zqIh'
access_token = '1059829816306921472-ADVpqol7U3AkaJKHVt5bH2VqMnBAQK'
access_token_secret = 'fRfkm7u2uzXvSjPZsuseXGj7nJYgjl5eOROnmWZqOOJVE'

In [4]:
api = tweepy.OAuthHandler(api_key,api_secret)
api.set_access_token(access_token,access_token_secret)
api_auth = tweepy.API(api)

In [5]:
flipkart_tweets = api_auth.search('#flipkart')

In [12]:
flipkart_tweets[0].text

'Tech news 7th November\n#AMD #news #tech #PUBG #SuicideSquad #Microsoft #Xiaomi #GooglePixel3 #Facebook #Flipkart… https://t.co/BKAssX7Ptd'

In [13]:
flipkart_tweets[0].created_at

datetime.datetime(2018, 11, 7, 16, 57, 39)

In [25]:
flipkart_tweets = api_auth.search('#flipkart',count=100)
flipkart_df = pd.DataFrame(columns = ['text','created_at','name'])
for tweet in flipkart_tweets:
    curr_row = {'text':tweet.text,
                'created_at':tweet.created_at,
                'name':tweet.user.name}
    flipkart_df = flipkart_df.append(curr_row,ignore_index=True)

In [27]:
flipkart_df.head()

,text,created_at,name
0,Tech news 7th November\n#AMD #news #tech #PUBG...,2018-11-07 16:57:39,The Krishh Show ▶️
1,Let your kid have a hip-hop time around with #...,2018-11-07 16:48:02,aquawhite
2,RT @Techglares: Flipkart Festive Dhamaka : \n\...,2018-11-07 16:39:19,SYE|RAA ramu.karnati
3,My Two Orders Already Came At Kolkata Nearly 1...,2018-11-07 15:54:50,DJ SOHAM
4,RT @rajeevkr957: @AnandSagar1306 @Flipkart @Ph...,2018-11-07 15:27:08,Anand Sagar

In [28]:
hotstar_tweets = api_auth.search('#hotstar',count=500)
hotstar_df = pd.DataFrame(columns = ['text','created_at','name'])
for tweet in hotstar_tweets:
    curr_row = {'text':tweet.text,
                'created_at':tweet.created_at,
                'name':tweet.user.name}
    hotstar_df = hotstar_df.append(curr_row,ignore_index=True)

In [30]:
hotstar_df.shape

(100, 3)